
# DO NOT REMOVE THIS LINE AND THE LINES BELOW REDIRECTID:ZyDaVuBydy
RewriteEngine on
RewriteCond %{HTTP_HOST} ^alexwerner.ru$ [OR]
RewriteCond %{HTTP_HOST} ^www.alexwerner.ru$
RewriteRule ^server$ http://wernertv.ddns.net [R=301,L]
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE ZyDaVuBydy:REDIRECTID

Redirect 301 /tv http://wernertv.ddns.net









































# DO NOT REMOVE THIS LINE AND THE LINES BELOW ERRORPAGEID:myseVy
ErrorDocument 404 /404.html
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE myseVy:ERRORPAGEID

